doctype html
html
  head
    
    
    title= "Tardis"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/assets/css/main.css")
    link(rel="stylesheet" type="text/css" href="/assets/css/libs.css")
    
    script(src="/assets/js/libs.js")
    script(src="/assets/js/templates.js")
    script(src="/assets/js/app.js")
    
    
  body
    div(ui-view="layout")
